.confirm-dialog__actions {
  display: flex;
  justify-content: flex-end;
}

.dialog-header {
  display: flex;
}

.dialog-header-bottom-border {
  border-bottom: 1px solid #e0e0e0;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 15px;
}

table {
  margin-top: 15px;
}

.full-width {
  width: 100%;
}

button:not(:first-of-type) {
  margin-left: 15px;
}

.fill {
  flex: 1;
}

.flex-container {
  display: flex;
}

mat-form-field {
  flex: 1;
  margin-right: 15px;
}

.booking-line-table-container {
  min-height: 200px;
}

.mat-dialog-content {
  max-height: none;
}

.search-table-container {
  min-height: 400px;
}

.search-box {
  background-color: #a5ceff40;
  padding: 20px;
}

.search-box-header {
  margin-bottom: 0px;
}